---
- hosts: all
  vars_files:
    - vars.yml

 # pre_tasks:
 #   - name: Update apt cache if needed
 #     apt: update_cache=yes cache_valid_time=3600

  tasks:
    - name: Install basic tools
      become: yes
      package:
        name:
          - git
          - neovim
          - ripgrep
          - fish
          - fzf
          - bat
          - gcc
          - go
          - kitty
          - fd
          - jq
          - lazygit
        state: present
    - name: Setup fish shell
      user:
        name: simon
        shell: /bin/fish
        state: present
      become: true
    - name: Ensure projects directory
      file:
        path: ~/projects
        state: directory

    - name: Configure GNOME
      include_tasks: tasks/gnome.yml

    - name: Ensure projects directory
      file:
        path: "{{ dotfiles_target }}/{{ item }}"
        state: directory
      loop:
        - fish
        - nvim
        - git

    - name: Symlink dotfiles
      file:
        src: "{{ dotfiles_dir }}/{{ item }}"
        dest: "{{ dotfiles_target }}/{{ item }}"
        state: link
      loop:
        - fish/config.fish
        - fish/fish_plugins
        - git/config
        - nvim/init.lua
        - nvim/lua
        - nvim/luasnippets
        - kitty

    - name: Configure Sway environment
      include_tasks: tasks/sway.yml

